/* styles.css */

/* Общие настройки страницы */
body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  color: #333;
}

h1 { /* Заголовок страницы */
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

h2 { /* Заголовок тех.листа */
  text-align: center;
  font-size: 22px;
  margin: 30px 0 20px 0;
}

h3 { /* Заголовок названий таблиц */
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 5px;
  color: #444;
}

select, button, label {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

/* Блок для результата / pdfContent */
#pdfContent {
  margin-top: 20px;
  line-height: 1.6;
}

/* Таблицы технических данных */
.tech-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  table-layout: fixed;
}

.tech-table td {
  border: 1px solid #ccc;
  padding: 6px 12px;
  vertical-align: top;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 14px;
  line-height: 1.2;
}

.tech-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Первый и второй столбец в таблицах */
.tech-table td:first-child {
  text-align: left;
  width: 70%;
  font-weight: normal;
}

.tech-table td:last-child {
  text-align: center;
  width: 30%;
}

/* Блок рекомендаций */
.makeup-recommendation {
  text-align: justify;
  text-justify: inter-word;
  margin-top: 20px;
  font-size: 14px;
}

.makeup-recommendation li {
  margin-bottom: 10px;
}

/* Адаптивность под мобильные устройства */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  select, button, label {
    font-size: 14px;
    padding: 8px;
  }

  .tech-table {
    table-layout: fixed; /* Оставляем fixed, чтобы сохранялись пропорции */
  }

  .tech-table td {
    font-size: 12px;
    padding: 4px 6px;
  }
}

/* Специальные стили для PDF */
@media print {
  #pdfContent {
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
  }

  .tech-table {
    width: 100%;
    table-layout: fixed;
  }

  .tech-table td {
    padding: 4px 6px;
    font-size: 12px;
    word-break: break-word;
  }

  h2, h3 {
    text-align: center;
    margin: 10px 0;
  }

  .makeup-recommendation {
    margin-top: 10px;
    font-size: 12px;
  }
}